@{
    ViewData["Title"] = "Home Page";
}
@model  WebWatchingAnime.ViewModel.ViewModel.Client.SearchViewModel;
@section Styles{


}
@section Scripts{

    <script src="~/Client/index.js"></script>
    <script>
        var anime = new viewController();
        anime.init(@Model.CategoryId, @Model.YearId,"@Model.TextSearch", @Model.Animes, @Model.Films);

        //anime.year =@Model.YearId;
        //console.log("year " + anime.year);
    </script>
}


<div class="catalog">
    <div class="container">
        <div class="row" id="tbl-content">
            <!-- card -->
            @*<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="~/Client-side/img/covers/cover.jpg" alt="">
                            <a href="/Home/Details" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                            <span class="card__category">
                                <a href="#">Action</a>
                                <a href="#">Triler</a>
                            </span>
                            <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                        </div>
                    </div>
                </div>*@
            <!-- end card -->
            <!-- paginator -->
            @*<div class="col-12">
                    <ul class="paginatorUL">

                        <li class="paginator__item paginator__item--prev">
                            <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                        </li>
                        <li class="paginator__item"><a href="#">1</a></li>
                        <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
                        <li class="paginator__item"><a href="#">3</a></li>
                        <li class="paginator__item"><a href="#">4</a></li>
                        <li class="paginator__item paginator__item--next">
                            <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                        </li>
                    </ul>
                </div>*@


            <!-- end paginator -->
        </div>
        <div class="col-12 row">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>



<script id="table-template" type="x-tmpl-mustache">
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
            <a class="" href="/Home/Details/{{Id}}">
                <div class="card__cover">
                    {{{Image}}}
                    @*<a  badge badge-light href="/Home/Details/{{Id}}" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>*@
                </div>
                <div class="card__content">
                    <h3 class="card__title">{{Name}}</h3>
                    <span class="card__category2">
                        @* <a href="#">{{EpisodeName}}</a>*@
                        {{SubName}}
                    </span>
                    <br />
                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{EpisodeName}}</span>
                </div>
            </a>
        </div>
    </div>
</script>